.header-bg-container {
  background-color: #152850;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  height: 35px;
  width: 100px;
  border: solid 1px #ffffff;
}

.website-logo {
  width: 100px;
}
