.bg-container {
  background-color: #152850;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card-container {
  background-color: #e0eefe;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 45%;
}

@media screen and (max-width: 767px) {
  .login-card-container {
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
  }
}

.website-image {
  width: 50%;
  height: 60%;
}

.welcome-heading {
  text-align: left;
  font-size: 30px;
  font-family: 'Roboto';
  margin-right: auto;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .welcome-heading {
    font-size: 20px;
  }
}

.login-container {
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .input-container {
    align-items: center;
  }
}

.label {
  padding-bottom: 15px;
  font-family: 'Roboto';
  color: #5a7184;
  font-size: 17px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .label {
    font-size: 13px;
    align-self: flex-start;
  }
}

.input {
  width: 300px;
  height: 35px;
  padding: 10px;
  outline: none;
  border: 1px solid #5a7184;
  border-radius: 6px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .input {
    width: 150px;
  }
}

.login-btn {
  background-color: #1565d8;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  width: 300px;
  height: 35px;
  border-width: 0px;
  margin-top: 30px;
  border-radius: 7px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .login-btn {
    width: 150px;
  }
}

.error-msg {
  font-family: 'Roboto';
  font-size: 15px;
  color: red;
}
